/* product.css */
.product-details{
    margin: 0 auto;
    max-width: 1200px;
   
    align-items: center;
    justify-content: center;
}
.product-description-container h2{
    padding: 10px;
    margin: 0 auto;
    display: flex;
    justify-content:center ;
    align-items: center;
}
.product-description-container span{
    padding: 20px;
    margin: 0 auto;
    display: flex;
    justify-content:center ;
    align-items: center;
}
.image{
    width: 100px;
    height: 100px;
}
.card-container1 {
    width: 80%;
    
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  
  .card-grid5 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
  }
  
  .card8 {
    position: relative; /* Ensure positioning context for absolutely positioned elements */
  }
  
  .card-image {
    position: relative; /* Ensure positioning context for absolutely positioned elements */
    overflow: hidden; /* Ensures button does not overflow outside image */
    border-radius: 8px;
  }
  
  .card-image img {
    height: 400px;
    width: 100%;
    display: block;
    border-radius: 8px;
  }
  
  .buttonshop {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    gap: 10px;
  }
  
  .shopify-btn:hover {
    background-color: #6af56a;
    cursor: pointer;
  }
  .buyfy-btn:hover {
    background-color: #6af56a;
    cursor: pointer;
  }
  
  .card-info {
    margin-top: 10px;
    text-align: left;
    padding: 1rem;
    font-style: bold ;
  }
  .shopify-btn{
    height: 40px;
    color: black;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border: none;
  }
  .buyfy-btn{
    height: 40px;
    color: black;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border: none;
  }
  .desc {
    color: #666;
  }
  
  Link {
    display: inline-block;
    background-color: #007bff;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  Link:hover {
    background-color: #0056b3;
  }
  